<style>

img {
    display: inline;
    margin: auto;
}

ul {
    list-style-type: none;
    display: inline;
}

#vendorfood {
    text-align: center;
    width: 15%;
}

</style>

<h1> we found</h1>
<% found.forEach((p)=>{ %>
    <div id="vendorfood">
    <img src="<%= p.type_image %>" width="150px"/> 
<ul>
    <li>Vendor Name: <%= p.seller_name %></li>
    <li>Food: <%= p.type%></li>
    <li>Discription <%= p.type_info %></li>
    <li>Price: <%= p.price %></li>
</ul>
    </div>
<% })  %> 

