<h3>Your Finds</h3>
<h4> You are looking for</h4>
<% pick.forEach((p)=>{ %>

<p><%= p.type %> for $<%= p.price %> </p>
<% })  %>

<h4> we found</h4>
<% found.forEach((p)=>{ %>

<p><%= p.seller_name %> , <%= p.type_info %> , <%= p.image %> , <%= p.type_info %> <%= p.price %> </p>
<% })  %> 

