<style>
    form {
        text-align: center;
    }
    input {
        margin:  4px;
    }

    .container {
        margin-top: 50px;
        width:200px;
    }
</style>

<h2>Profile Page</h2>

<h3>Welcome to your USER PROFILE</h3>

<%= pass %>

<h4>Listed Address</h4>
<%= street %>
<br/>
<%= city %>
<br/>
<%= state %>
<br/>
<%= zip %>

<h4> You are looking for</h4>
<% pick.forEach((p)=>{ %>

<p><%= p.type %> for $<%= p.price %> </p>
<% })  %>
<a href="/profile/finds">See your option here</a>
<div class="container">
<form action="/address/profile" method="POST">
  
    <!-- name is the key that this data will enter our app at; it should match up to the fields we want to save on our dino -->
    <label for="userStreet">Street Address</label>
    <br/>
    <input id="userStreet" type="text" name="street">
    <br/>
    <label for="userCity">City</label>
    <br/>
    <input id="userCity" type="text" name="city">
    <br/>
    <label for="userState">State</label>
    <br/>
    <input id="userState" type="text" name="state">
    <br/>
    <label for="userZip">ZIP code</label>
    <br/>
    <input id="userZip" type="text" name="zip">
    <br/>
    <input type="submit">
  </form>
</div>
<div class="container">
<h2>SELECT YOUR ITEM HERE</h2>
<form action="/user_food/profile" method="POST">
  
   
   
    <label for="type">Type</label>
    <br/>
    <select name = "type">
    <% find.forEach((f) => {
        %>     
        <option value = "<%= f.type %>" selected><%= f.type %></option>
       
   
        <% }) %>

      
       
    
     </select>
     <input id="typeId" type="hidden" name="typeId" value="158158">
     <br/>
    <label for="price">Price</label>
    <br/>
    <input id="price" type="text" name="price">
    <br/>
<input type="submit">
</form>
</div>