<script>
  const imegi = document.querySelector('.imegi')
  imegi.addEventListener('mouseover', function(e){
       imegi.style.width="300px";
  })

</script>

<style>
    form {
        text-align: center;
    }
    input {
        margin:  4px;
    }

    .container {
        width: 20%;
        color: rgb(255, 255, 255);
        background-color: rgba(200, 252, 151, 0.281);
        font-family: 'Rubik Mono One', sans-serif;

    flex: 25%;
  
    border-radius: 10px;
    padding: 10px;
    }

   #foodFormu {
      
       
        
        font-family: 'Rubik Mono One', sans-serif;
  
        color: rgb(255, 255, 255);

    border-radius: 10px;
    padding: 10px;
    }

   

    #userProf {
    text-align: center;
    width: 75%;
    background-color: rgba(121, 158, 87, 0.582);
    flex: 75%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    margin-bottom: 10px;
}

h3 {
       text-align:center;
       font-size: 90px;
       color:antiquewhite;
       background-color: rgba(139, 139, 8, 0.171);
       font-family: 'Rubik Mono One', sans-serif;
     }

h4 {
       text-align:center;
       font-size: 30px;
       color: rgb(255, 255, 255);
     
       font-family: 'Rubik Mono One', sans-serif;
       border-radius: 10px;
       margin: 3px;
     }

     h5 {
         color: wheat;
         margin: 0px;
         font-family: 'Rubik Mono One', sans-serif;
     }

#sellerHas {
  
    width: 70%;
  
  
    flex: 70%;
    background-color: rgba(202, 58, 178, 0.281);
    border-radius: 10px;
    padding: 10px;
}  

img {
    
    margin: auto;
    width: 15%;
    height: 15%;
    object-fit: cover;
    border-radius: 100%;
}

span {
    display: inline;
}

img {
    
    margin: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

#bodyRock {
    display: flex;
    position: relative;
}


#leftcolumn {
    flex:30%;
    width: 30%;
    background-color: rgba(0, 81, 128, 0.253);
    border-radius: 10px;
}

#info {
    padding-top:10px;
    color: rgb(255, 255, 255);
   
    font-family: 'Rubik Mono One', sans-serif;

 
   
    border-radius: 10px;
    padding: 10px;
}

#foodItem{
    color: rgb(255, 255, 255);
    font-family: 'Rubik Mono One', sans-serif;
    display: block;

}

#uploado {
    display: inline;
}

.btn-primary{
    border-radius: 15px;
}

#button {
   
    margin-right: 0%;
}

#iHave{
    border: 4px  solid  rgba(10, 8, 139, 0.192); 
    border-radius: 10px;
    padding: 10px;
    display: flex;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgba(97, 82, 167, 0.158);
}
#nameface {
    position: relative;
    display: flex;
    background-color: rgba(139, 139, 8, 0.171);
}

#billysHouse {
    flex:20%;
    width:20%;
    display: inline;
}

#head {
    flex:80;
}

.subbut {
    
    font-family: 'Lalezar', cursive;
    font-size: 13px;
  
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(243, 200, 119, 0.075);
    border: 4px solid rgba(245, 245, 245, 0.274);
  
}

#sub2{
    position: relative;
    display: flex;
}

#imegi {
    flex:35%;
}

#myFood{
    flex: 65%;
}

#buttonHell {
    display: flex;
    position: relative;
}

#buttonhell2 {
  font-size: 20px;
  height: 35px;
}

#foodpick {
    flex: 80%;
    margin-top: 3%;
    
  
    
}

#buttonhell3 {
    flex: 20%;
    text-align: center;
    padding:5px;
  
}

select {
    padding: 10px;
  border-radius: 5px;
  width: 50%;
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    background-color: rgba(245, 222, 179, 0.432);
    border: 4px solid rgba(245, 245, 245, 0.185);

}


</style>
<div id="bodyRock">
<div class="container">
    <h4>Update Your Information</h4>
    <form action="/seller_address/profile/?_method=PUT" method="POST">
        <label for="userBusiness">Business Name</label>
        <br/>
        <input id="userBusiness" type="text" name="business">
        <br/>
        <label for="userInfo">Business Info</label>
        <br/>
        <input id="userInfo" type="text" name="info">
        <br/>
       
        <label for="userStreet">Street Address</label>
        <br/>
        <input id="userStreet" type="text" name="street">
        <br/>
        <label for="userCity">City</label>
        <br/>
        <input id="userCity" type="text" name="city">
        <br/>
        <label for="userState">State</label>
        <br/>
        <input id="userState" type="text" name="state">
        <br/>
        <label for="userZip">ZIP code</label>
        <br/>
        <input id="userZip" type="text" name="zip">
        <br/>
        <label for="userOpen">Opens at</label>
        <br/>
        <input id="userOpen" type="text" name="open">
        <br/>
        <label for="userClose">Closes at</label>
        <br/>
        <input id="userClose" type="text" name="close">
        <br/>
        <label for="userClose">website</label>
        <br/>
        <input id="userClose" type="text" name="website">
        <br/>
        
        <input type="submit" class="subbut">
      </form>
  
   
    
  
    </div>


<div id="userProf">
    <div id="nameface">

          <div id="billysHouse">
               <img id="Billy" class="imegi" src="<%= image %>"  />
                 <div id="pictureUpload">
                      <form id="upload" action="/seller_address/profile_profilepic" method="POST" enctype="multipart/form-data">

 <input type="submit" class="subbut" value="Update Your Profile Picture">
 <input type="file" name="inputFile" class="subbut">
                       </form>
                 </div>
          </div>
          <div id="head">
             <h4>Business Details</h4>
             <h4><%= business %></h4>
             <h4><%= info %></h4>
          </div>
     </div>
<br/>
<div id="sub2">
<div id="leftcolumn">
    <div id="foodFormu">
        <h2>CREATE DEALS</h2>
        <form action="/seller_food/profile" method="POST">
           
            <label for="typeInfo">Discribe your Product</label>
            
            <input id="typeInfo" type="text" name="typeInfo">
          
            <input id="typeImage" type="hidden" name="typeImage" value="https://res.cloudinary.com/delivery-com/image/fetch/w_380,h_285,c_fill,f_auto/https%3A%2F%2Fs3.amazonaws.com%2Fs3.delivery.com%2Fimages%2Fplaceholder%2Ffood.png">
          
            <input id="typeIdd" type="hidden" name="typeIdd" value="158158">
            <br/>
            
           
            <label for="type"> Type</label>
            <br/>
            <select name = "type">
            <% find.forEach((f) => {
                %>     
                <option value = "<%= f.type %>" selected><%= f.type %></option>
                <h2>Your image here</h2>
              
    
               
           
                <% }) %>
           
              
               
            
             </select>
             <br/>
            <label for="price">Price</label>
            <br/>
            <input id="price" type="text" name="price">
            <br/>
        <input type="submit" class="subbut">
            </form>
   
        </div>
    

<div id="info">  
<p><%= street %>
<br/>
<%= city %>

<br/>
<%= state %>

<br/>
<%= zip %>

<br/>
opens at <%= open %> pm

<br/>
closes at <%= close %>pm </p>
<a href="<%= website %>"><%= website %></a>
</div>
</div>
<div id="sellerHas">
<h4> You are offering</h4>
     <% pick.forEach((p)=>{ %>
     <div id="iHave">
        <image class="imegi" src="<%= p.type_image %>" />
<div id="myFood">            
<p id="foodItem"><%= p.type %> for $<%= p.price %> </p> 
<p id="foodItem"><%= p.type_info %>  </p> 

<div id="buttonHell">
<form action="/seller_address/profile_foodpic" method="POST" enctype="multipart/form-data" id="foodpick">
    <input type="file" name="inputFile2" class="subbut" id="buttonhell1">
    <input type="hidden" name="id" value="<%= p.id %>">
    <input type="submit" class="subbut" value="update your pic" >

</form>
<form  class="subbut" method="POST" action="/seller_address/profile/?_method=DELETE" id="buttonhell3">
    <input  type="hidden" name="type" value="<%= p.type %>">
    <button class="subbut" type="submit" id="buttonhell2" >Remove</button>
</form>
</div>
</div>
    </div>
<% })  %>
        </div>
</div>
</div>

   
