<style>
    form {
        text-align: center;
    }
    input {
        margin:  4px;
    }

    .container {
        margin-top: 50px;
        width:200px;
    }
</style>



<h3>Welcome to your SELLER PROFILE</h3>
<%= pass %>

<h4>Business Details</h4>
<%= business %>
<br/>
<%= info %>
<br/>

<img src="<%= image %>"  width="100px"/>

<br/>
<%= street %>
<br/>
<%= city %>
<br/>
<%= state %>
<br/>
<%= zip %>
<br/>
<%= open %>
<br/>
<%= close %>

<h4> You are offering</h4>
<% pick.forEach((p)=>{ %>

<p><%= p.type %> for $<%= p.price %> </p> 
<image src="<%= p.type_image %>" width="150px" />
<form action="/seller_address/profile_foodpic" method="POST" enctype="multipart/form-data">
    <input type="file" name="inputFile2">
    <input type="hidden" name="id" value="<%= p.id %>">
    <input type="submit" class="btn btn-primary">

</form>
<form method="POST" action="/seller_address/profile/?_method=DELETE">
    <input hidden type="text" name="type" value="<%= p.type %>">
    <button class="btn btn-primary" type="submit" id="button">Delete from Favorites</button>
</form>
<% })  %>

<div class="container">
    <form action="/seller_address/profile/?_method=PUT" method="POST">
        <label for="userBusiness">Business Name</label>
        <br/>
        <input id="userBusiness" type="text" name="business">
        <br/>
        <label for="userInfo">Business Info</label>
        <br/>
        <input id="userInfo" type="text" name="info">
        <br/>
       
        <label for="userStreet">Street Address</label>
        <br/>
        <input id="userStreet" type="text" name="street">
        <br/>
        <label for="userCity">City</label>
        <br/>
        <input id="userCity" type="text" name="city">
        <br/>
        <label for="userState">State</label>
        <br/>
        <input id="userState" type="text" name="state">
        <br/>
        <label for="userZip">ZIP code</label>
        <br/>
        <input id="userZip" type="text" name="zip">
        <br/>
        <label for="userOpen">Opens at</label>
        <br/>
        <input id="userOpen" type="text" name="open">
        <br/>
        <label for="userClose">Closes at</label>
        <br/>
        <input id="userClose" type="text" name="close">
        <br/>
        <label for="userClose">website</label>
        <br/>
        <input id="userClose" type="text" name="website">
        <br/>
        
        <input type="submit">
      </form>
    </form>
   
    
    <h1>Upload Your Profile Picture Here</h1>
   <form action="/seller_address/profile_profilepic" method="POST" enctype="multipart/form-data">
    <input type="file" name="inputFile">
    <input type="submit" class="btn btn-primary">
</form>
    </div>

    <div class="container">
        <h2>SELECT YOUR ITEM HERE</h2>
        <form action="/seller_food/profile" method="POST">
           
            <label for="typeInfo">Discribe your Product</label>
            <br/>
            <input id="typeInfo" type="text" name="typeInfo">
            <br/>
            <label for="typeImage">Image</label>
            <br/>
            <input id="typeImage" type="hidden" name="typeImage" value="https://res.cloudinary.com/delivery-com/image/fetch/w_380,h_285,c_fill,f_auto/https%3A%2F%2Fs3.amazonaws.com%2Fs3.delivery.com%2Fimages%2Fplaceholder%2Ffood.png">
            <br/>
            <input id="typeIdd" type="hidden" name="typeIdd" value="158158">
            <br/>
            
           
            <label for="type"> Type</label>
            <br/>
            <select name = "type">
            <% find.forEach((f) => {
                %>     
                <option value = "<%= f.type %>" selected><%= f.type %></option>
                <h2>Your image here</h2>
              
                   </div>
               
           
                <% }) %>
        
              
               
            
             </select>
             <br/>
            <label for="price">Price</label>
            <br/>
            <input id="price" type="text" name="price">
            <br/>
        <input type="submit">
       

