<style>
    form {
        text-align: center;
    }
    input {
        margin:  4px;
    }

    .container {
        margin-top: 50px;
        width:200px;
    }
</style>



<h3>Welcome to your SELLER PROFILE</h3>
<%= pass %>

<h4>Business Details</h4>
<%= business %>
<br/>
<%= info %>
<br/>
<%= image %>
<br/>
<%= street %>
<br/>
<%= city %>
<br/>
<%= state %>
<br/>
<%= zip %>
<br/>
<%= open %>
<br/>
<%= close %>

<h4> You are offering</h4>
<% pick.forEach((p)=>{ %>

<p><%= p.type %> for $<%= p.price %> </p>
<% })  %>

<div class="container">
    <form action="/seller_address/seller_profile" method="POST">
        <label for="userBusiness">Business Name</label>
        <br/>
        <input id="userBusiness" type="text" name="business">
        <br/>
        <label for="userInfo">Business Info</label>
        <br/>
        <input id="userInfo" type="text" name="info">
        <br/>
        <label for="userImage">Image or Logo</label>
        <br/>
        <input id="userImage" type="text" name="image">
        <br/>
        <label for="userStreet">Street Address</label>
        <br/>
        <input id="userStreet" type="text" name="street">
        <br/>
        <label for="userCity">City</label>
        <br/>
        <input id="userCity" type="text" name="city">
        <br/>
        <label for="userState">State</label>
        <br/>
        <input id="userState" type="text" name="state">
        <br/>
        <label for="userZip">ZIP code</label>
        <br/>
        <input id="userZip" type="text" name="zip">
        <br/>
        <label for="userOpen">Opens at</label>
        <br/>
        <input id="userOpen" type="text" name="open">
        <br/>
        <label for="userClose">Closes at</label>
        <br/>
        <input id="userClose" type="text" name="close">
        <br/>
        
        <input type="submit">
      </form>
    </div>

    <div class="container">
        <h2>SELECT YOUR ITEM HERE</h2>
        <form action="/seller_food/profile" method="POST">
            <label for="sellerName">Vendor Name</label>
            <br/>
            <input id="sellerName" type="text" name="sellerName">
            <br/>
            <label for="typeInfo">Discribe your Product</label>
            <br/>
            <input id="typeInfo" type="text" name="typeInfo">
            <br/>
            <label for="typeImage">Image</label>
            <br/>
            <input id="typeImage" type="text" name="typeImage">
            <br/>
            <input id="typeIdd" type="hidden" name="typeIdd" value="158158">
            <br/>
            
           
            <label for="type"> Type</label>
            <br/>
            <select name = "type">
            <% find.forEach((f) => {
                %>     
                <option value = "<%= f.type %>" selected><%= f.type %></option>
               
           
                <% }) %>
        
              
               
            
             </select>
             <br/>
            <label for="price">Price</label>
            <br/>
            <input id="price" type="text" name="price">
            <br/>
        <input type="submit">
        </form>
        </div>
 

